<div class="pipeline-view-page-container ps-5">
  <div class="tabs d-flex justify-content-center">
    <div class="leads-tab p-1 me-2">Lead View</div>
    <div class="pipeline-view-tab p-1 ms-2">Pipeline View</div>
  </div>

  <div class="search-bar">
    <%= form_with url: pipeline_view_path, method: :get do |form| %>
      <%= form.text_field :query, value: params[:query], placeholder: 'Search' %>
    <% end %>
  </div>

  <main class="pipeline-view-content">
    <div class="stages d-flex justify-content-start">
      <% Lead.stages.keys.each do |stage_name| %>
        <div class="stage me-3 mt-2">
          <div class="title">
            <%= stage_name %>
          </div>
          <div class="stage-content dropzone d-flex flex-column p-2 mt-2" data-stage-name="<%= stage_name %>">
            <% @leads.try(stage_name).each do |lead| %>
              <div class="lead draggable p-2 mb-3" data-lead-id="<%= lead.id %>">
                <span class="name">
                  <%= lead.full_name %>
                </span>
                <span class="heat p-1">
                  <%= lead.heat %>
                </span>
                <div class="phone">
                  <%= lead.phone_number %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </main>
  
  <div id="leadModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  </div>
</div>