<%= form_with(model: demo) do |form| %>
  <% if demo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(demo.errors.count, "error") %> prohibited this demo from being saved:</h2>

      <ul>
        <% demo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :lead_id %>
    <%= form.text_field :lead_id %>
  </div>

  <div class="field">
    <%= form.label :start_datetime %>
    <%= form.datetime_select :start_datetime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
